#userList-wrap {
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #f5f5f5;
	box-sizing: border-box;
}

#userList-wrap > div {
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px #ddd;
	border-radius: 3px;
}

#userList-left-box {
	width: 60%;
	background-color: #fff;
	margin-right: 20px;
}

#userList-wrap #userList-left-box table {
	margin-top: 20px;
}

#userList-wrap table {
	border-collapse: collapse;
	width: 100%;
}

#userList-wrap table {
	border-top: 2px solid #ccc;
}

#userList-wrap table tbody tr td{
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	padding: 10px;
	font-size: 13px;
}


#userList-wrap table tbody tr td.padding-right-none {
	padding-right: 0;
}

.userList-title {
	font-size: 18px;
}

.input-btn {
	position: relative;
	border-radius: 3px;
	margin-top: 20px;
}

.input-btn > input {
	z-index: 2;
	width: 100%;
	margin-bottom: 0;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #d8dbe2;
	padding-left: 10px;
}

.input-btn .button,
.insertbtn {	
	height: 30px;
	background-color: #b6cee8;
	color: #fff;
	border: none;
	border-radius: 0 3px 3px 0;
	width: 80px;
	cursor: pointer;
}

.input-btn .button:hover,
.insertbtn:hover {
	background-color: #539bed;
	transition: .3s all ease;
}

.input-btn .button i.fa {
	font-size: 13px;
}

.input-group-btn {
	position: absolute;
	right: 0;
}

.insertbtn {
	border-radius: 3px;
	width: 150px;
    height: 40px;
}

#userList-right-box  {
	background-color: #fff;
}

#userList-right-box .user-infomation{
	text-align: center;
}

#userList-right-box .user-image {
	margin: 20px 0;
}

#userList-right-box .user-image img {
	width: 100%;
	max-width: 80px;
	height: 100%;
	max-height: 80px;
	border-radius: 50%;
}

#userList-right-box .user-info-text {
	font-weight: 600;
}

#userList-right-box .user-info-text em {
	font-size: 12px;
	color: #555;
}
